.nav-link {
    font-family: var(--ff);
    color: var(--clr-klein-blue);
}

//title

.title-1{
    font-family: var(--ff);
    min-height: 0vw; // Fix clamp() bug on safari
    font-size: clamp(1.7rem, 8vw, 13rem);
    font-weight: 500;
    font-style: normal;
    line-height: auto;
    color: var(--clr-cheese)
}

.title-2{
    font-family: var(--ff);
    min-height: 0vw; // Fix clamp() bug on safari
    font-size: clamp(1.2rem, 6vw, 7.2rem);
    font-weight: 500;
    font-style: normal;
    line-height: auto;
    letter-spacing: -2.6%;
    color: var(--clr-cheese)
}

.title-3{
    font-family: var(--ff);
    min-height: 0vw; // Fix clamp() bug on safari
    font-size: clamp(1.5rem, 4.4vw, 2.8rem);
    font-weight: 500;
    color: var(--clr-klein-blue)
}

.title-4{
    font-family: var(--ff);
    min-height: 0vw; // Fix clamp() bug on safari
    font-size: clamp(1.2rem, 1.8vw, 2.5rem);
}

.title-5{
    font-family: var(--ff);
    min-height: 0vw; // Fix clamp() bug on safari
    font-size: clamp(1rem, 1.6vw, 2.5rem);
}

.title-6{
    font-family: var(--ff);
    min-height: 0vw; // Fix clamp() bug on safari
    font-weight: 500;
    word-spacing: 0.014rem;
    font-size: clamp(0.9rem, 1vw, 1.3rem);
}

//PARAGRAPH

.paragraph{
    font-family: var(--secondary-ff);
    color: var(--clr-klein-blue);
}

.paragraph-big{
    @extend .paragraph;
    min-height: 0vw; // Fix clamp() bug on safari
    font-size: clamp(1rem, 1.65vw, 1.2rem);
    line-height: 1.5
}
.paragraph-small{
    @extend .paragraph;
    min-height: 0vw; // Fix clamp() bug on safari
    font-size: clamp(0.9rem, 1.10vw, 1.2rem);
    line-height: 1.6 
}

